body {
  background-color: #141414;
}
.bg-video-container-overlay {
  position: absolute;
  height: 100vh;
  min-width: 100%;
  left: 0;
  top: 0;

  /* background: linear-gradient(
    22deg,
    rgba(0, 0, 0, 0.8102591378348214) 0%,
    rgba(0, 0, 0, 0) 100%
  ); */
}
.bg-video-container video {
  /* background-image: url("../assets/bg.jpg"); */

  /* background-color: aliceblue; */
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  /* -webkit-box-shadow: inset 40px -50px 39px 21px rgba(0, 0, 0, 0.53);
  box-shadow: inset 40px -50px 39px 21px rgba(0, 0, 0, 0.53); */
}
#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  height: auto;
}
/* body {
  background-color: #888787;
} */
#logo {
  height: 30px;
  margin-left: 100px;
}
.navbarBg {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6702031154258579) 9%,
    rgba(0, 0, 0, 0.22202384371717432) 100%
  );
}
.navbarBg:hover {
  background-color: #2d2d2d;
}
.scroll {
  background-color: #141414;
  transition: 0.8s ease;
}
.linkColor {
  background-color: aqua;
}
a.nav-link {
  color: white;
  font-size: 18px;
  margin-left: 10px;
}

a.nav-link:hover {
  color: rgb(209, 209, 209);
}
.circle-red {
  display: flex;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: 0;
  left: 28px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.avtar-iamge {
  height: 40px;
  border-radius: 5px;
}
.profile-menu {
  position: relative;
  margin-top: 10px;
  margin-left: -200px;
  background-color: #141414;
  width: 250px;
}
.profile-menu a {
  color: rgb(193, 193, 193);
  padding: 15px 5px;
  width: 100%;
}
.profile-menu a:hover {
  background-color: rgb(52, 53, 53);
  color: white;
}
.profile-menu img {
  margin-right: 10px;
}
#searchBar {
  background-color: #141414;
  width: 350px;
}
.input-display-none {
  opacity: 0;
}
.input-display {
  position: relative;
  animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn {
  from {
    right: -100%;
    opacity: 0;
    width: 0%;
  }
  to {
    right: 0%;
    opacity: 1;
    width: 100%;
  }
}

/* #searcIcon:focus {
  color: white;
} */
/* ------------------------------*/

/* ------header container */
.container {
  position: relative;
  top: 10vh;
}
.btn-light {
  background-color: #b8b8b8;
}
#paypal {
  height: 15px;
}
#ultra-hd {
  height: 12px;
}
#payment-imag {
  height: 25px;
  border-radius: 2px;
}
/* p {
  line-height: 13px;
  font-size: 14px;
} */
@media screen and (max-width: 1000px) {
  #logo {
    margin-left: 30px;
  }
  .navbar {
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
  }
  a.dropdown-toggle {
    position: absolute;
    left: 150px;
    top: 12px;
  }
  .dropdown-menu {
    background-color: #141414;
    width: 40%;
  }
  .dropdown-menu a {
    color: rgb(193, 193, 193);
    padding: 15px 20px;
    text-align: center;
  }
  a.dropdown-item:hover {
    background-color: rgb(52, 53, 53);
    border-bottom: 1px solid gray;
    color: white;
  }
  .container {
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
  }
}
.container1 {
  height: 90vh;
}
.container2 {
  width: 100%;
  padding-top: 30px;
  background: linear-gradient(
    0deg,
    rgba(20, 20, 20, 1) 31%,
    rgba(20, 20, 20, 1) 84%,
    rgba(20, 20, 20, 0.7738445720084909) 95%,
    rgba(20, 20, 20, 0.3368697820925245) 98%,
    rgba(20, 20, 20, 0) 100%
  );
}
#categories {
  width: 95%;
  margin: 0 auto;
}
.container-indicators {
  width: 100px;
  position: absolute;
  right: 0;
  top: calc(var(--slider-py) - 60px);
  visibility: hidden;
}
.indicator {
  width: 15px;
  height: 2px;
  background-color: grey;
  display: inline-block;
}
.indicator.current {
  background-color: white;
}
.slider {
  /* background-color: white; */
  width: 100%;
  overflow-x: scroll;
  overflow-y: visible;
  white-space: nowrap;
  position: relative;
  padding-top: var(--slider-py);
  padding-bottom: var(--slider-py);
}
.categoryDiv {
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
}
.card {
  min-width: 17rem;
  width: 17rem;
  margin: 0 2px 0 2px;
  cursor: pointer;
}
.card img {
  max-width: 100%;
  height: 10rem;
  object-fit: cover;
}
.card-body {
  background-color: #141414;
  color: white;
  display: none;
}

.card:hover {
  /* top: -100px; */
  padding: 0;
  transform: scale(1.5);
  z-index: 2;
  border-radius: 5px 5px 5px 5px;
  transition: all 0.8s ease-in-out;
  -webkit-box-shadow: 1px 2px 15px 5px rgba(0, 0, 0, 0.57),
    1px 2px 15px 5px rgba(0, 0, 0, 0.57);
  box-shadow: 1px 2px 15px 5px rgba(0, 0, 0, 0.57),
    1px 2px 15px 5px rgba(0, 0, 0, 0.57);
}
.card:hover .card-body {
  display: block;
  border-radius: 0 0 5px 5px;
}
.scrollBtn {
  position: absolute;
  height: 100px;
  z-index: 2;
  font-size: 40px;
  font-weight: bolder;
}
.moveLeft {
  left: 0;
}
.moveRight {
  right: 0;
}
.indicator.current {
  background-color: white;
}
/* ---------footer ---------*/
.footer {
  background-color: #141414;
}
